.quadro {
  align-items: center;
  box-shadow: 15px 15px 10px -15px #111;
  border-radius: 15px;
  background-color: white;
  padding:1em;
}

.lista{
  padding: 1em;
}

a{
  text-decoration: none;
  color: white;
}

.incon{
  font-size: 2em;
}
